%btn {
  display: block;

  border: none;
  border-radius: 0.5rem;
  background-color: lighten($color-cyan-darkest, 5%);
  padding: 1rem 1.5rem;

  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: $color-cyan-darkest;
  cursor: pointer;

  transition: all 0.3s;

  &:hover,
  &:active {
    background-color: $color-cyan-light;
  }
}
