*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 37.5em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;

  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}
