$color-cyan: hsl(158, 36%, 37%);
$color-cream: hsl(30, 38%, 92%);
$color-blue-dark: hsl(212, 21%, 14%);
$color-blue-gray: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);

$font-serif: "Fraunces", serif;
$font-sans-serif: "Montserrat", sans-serif; ;
